---
## Play
- hosts: all

  tasks:
    - name: Install nmap
      apt:
        name: nmap
        state: present
    - name: Install vim
      apt:
        name: vim
        state: present

## Play
- hosts: role_hosting

  tasks:
    - name: Install apache2
      apt:
        name: apache2
        state: present
    - name: Create a directory if it does not exist
      file:
        path: /tmp/toto
        state: directory
        mode: '0755'

