---
## Play
- hosts: app_hosting

  tasks:
    - name: Install apache2
      apt:
        name:
          - apache2
          - php7.3
    
    ######################
    ## DOWNLOAD DOKUWIKI
    ######################

    - name: Check if dokuwiki is already installed
      stat:
        path: /usr/src/dokuwiki
      register: dokuwiki_directory

    - name: Delete dokuwiki file if is not directory
      file:
        path: /usr/src/dokuwiki
        state: absent
      when: dokuwiki_directory.stat.exists and not dokuwiki_directory.stat.isdir

    - name: Download and extract dokuwiki
      block:
        - name: Download dokuwiki
        get_url:
          url: https://download.dokuwiki.org/src/dokuwiki/dokuwiki-stable.tgz
          dest: /usr/src

        - name: Unzip dokuwiki
          unarchive:
            remote_src: yes # The archive is already on the remote machine, not on the control machine
            src: /usr/src/dokuwiki-stable.tgz
            dest: /usr/src

        - name: Rename dokuwiki directory
          command: mv /usr/src/dokuwiki-2020-07-29 /usr/src/dokuwiki # TODO USE VARIABLE

        - name: Delete downloaded archive
          file:
            path: /usr/src/dokuwiki-stable.tgz
            state: absent

      when: not dokuwiki_directory.stat.exists or not dokuwiki_directory.stat.isdir

    
    ######################
    ## VIRTUALHOST
    ######################

    - name: Check if recettes.wiki virtualhost exists
      stat:
        path: /etc/apache2/sites-available/recettes-wiki.conf
      register: recettes_wiki_vhost

    - name: Check if politique.wiki virtualhost exists
      stat:
        path: /etc/apache2/sites-available/politique-wiki.conf
      register: politique_wiki_vhost

    - name: Copy recettes.wiki virtualhost
      copy:
        src: files/recettes-wiki.conf
        dest: /etc/apache2/sites-available/recettes-wiki.conf
      when: not recettes_wiki_vhost.stat.exists

    - name: Copy politique.wiki virtualhost
      copy:
        src: files/politique-wiki.conf
        dest: /etc/apache2/sites-available/politique-wiki.conf
      when: not politique_wiki_vhost.stat.exists
    
    ######################
    ## WWW DIRECTORIES
    ######################

    - name: Check if recettes_wiki directory exists
      stat:
        path: /var/www/recettes_wiki
      register: recettes_wiki_directory

    - name: Check if politique_wiki directory exists
      stat:
        path: /var/www/politique_wiki
      register: politique_wiki_directory

    - name: Copy dokuwiki to /var/www/recettes_wiki
      command: cp -r /usr/src/dokuwiki /var/www/recettes_wiki
      when: not recettes_wiki_directory.stat.exists

    - name: Copy dokuwiki to /var/www/politique_wiki
      command: cp -r /usr/src/dokuwiki /var/www/politique_wiki
      when: not politique_wiki_directory.stat.exists
    
    - name: Change permissions of /var/www/recettes_wiki
      file:
        path: /var/www/recettes_wiki
        state: directory
        recurse: yes
        owner: www-data
        group: www-data
      when: not recettes_wiki_directory.stat.exists
    
    - name: Change permissions of /var/www/politique_wiki
      file:
        path: /var/www/politique_wiki
        state: directory
        recurse: yes
        owner: www-data
        group: www-data
      when: not politique_wiki_directory.stat.exists
    
    ######################
    ## UPDATE HOSTS
    ######################

    - name: Check if /etc/hosts contains recettes.wiki host
      shell: "grep -c \"^127.0.0.1  recettes.wiki\" /etc/hosts || true"
      register: grep_hosts_recettes_wiki
      changed_when: false

    - name: Check if /etc/hosts contains politique.wiki host
      shell: "grep -c \"^127.0.0.1  politique.wiki\" /etc/hosts || true"
      register: grep_hosts_politique_wiki
      changed_when: false

    - name: Add recettes.wiki in hosts
      lineinfile:
        dest: /etc/hosts
        line: "127.0.0.1  recettes.wiki"
      when: grep_hosts_recettes_wiki.stdout == "0"

    - name: Add politique.wiki in hosts
      lineinfile:
        dest: /etc/hosts
        line: "127.0.0.1  politique.wiki"
      when: grep_hosts_politique_wiki.stdout == "0"
    
    ######################
    ## ENABLE SITES AND RELOAD APACHE
    ######################

    - name: Check if recettes.wiki is enabled
      stat:
        path: /etc/apache2/sites-enabled/recettes-wiki.conf
      register: enabled_recettes_wiki

    - name: Check if politique.wiki is enabled
      stat:
        path: /etc/apache2/sites-enabled/politique-wiki.conf
      register: enabled_politique_wiki

    - name: Enable recettes.wiki
      command: a2ensite recettes-wiki
      when: not enabled_recettes_wiki.stat.exists
    
    - name: Enable politique.wiki
      command: a2ensite politique-wiki
      when: not enabled_politique_wiki.stat.exists
    
    - name: Reload apache
      command: systemctl reload apache2
      when: not enabled_recettes_wiki.stat.exists or not enabled_politique_wiki.stat.exists
