---
## Play
- hosts: app_hosting

  tasks:
    - name: Install apache2 & PHP
      apt:
        name:
          - apache2
          - php7.3
    
    ######################
    ## DOWNLOAD DOKUWIKI
    ######################

    - name: Check if dokuwiki is already installed
      stat:
        path: /usr/src/dokuwiki
      register: dokuwiki_directory

    - name: Delete dokuwiki file if it is not a directory
      file:
        path: /usr/src/dokuwiki
        state: absent
      when: dokuwiki_directory.stat.exists and not dokuwiki_directory.stat.isdir

    - name: Download and extract dokuwiki
      block:
        - name: Download dokuwiki
          get_url:
            url: https://download.dokuwiki.org/src/dokuwiki/dokuwiki-stable.tgz
            dest: /usr/src

        - name: Unzip dokuwiki
          unarchive:
            remote_src: yes # The archive is already on the remote machine, not on the control machine
            src: /usr/src/dokuwiki-stable.tgz
            dest: /usr/src

        - name: Rename dokuwiki directory
          command: mv /usr/src/dokuwiki-2020-07-29 /usr/src/dokuwiki # TODO USE VARIABLE

        - name: Delete downloaded archive
          file:
            path: /usr/src/dokuwiki-stable.tgz
            state: absent

      when: not dokuwiki_directory.stat.exists or not dokuwiki_directory.stat.isdir

    
    ######################
    ## VIRTUALHOSTS
    ######################

    - name: Copy virtualhosts
      copy:
        src: files/{{ item.conf_file }}
        dest: /etc/apache2/sites-available/{{ item.conf_file }}
      with_items: "{{ sites }}"
    
    ######################
    ## WWW DIRECTORIES
    ######################

    - name: Check if directories exist in /var/www
      stat:
        path: "/var/www/{{ item.var_www_directory }}"
      register: toto
      with_items: "{{ sites }}"

    - name: Debug
      debug:
        msg: "{{ toto }}"

    - name: Copy dokuwiki to /var/www
      command: "cp -r /usr/src/dokuwiki /var/www/{{ item.var_www_directory }}"
      when: not item.var_www_directory_stat.stat.exists
      with_items: "{{ sites }}"
    
    - name: Change permissions in /var/www
      file:
        path: /var/www/{{ item.var_www_directory }}
        state: directory
        recurse: yes
        owner: www-data
        group: www-data
      with_items: "{{ sites }}"
    
    ######################
    ## UPDATE HOSTS
    ######################

    - name: Add recettes.wiki in hosts
      lineinfile:
        dest: /etc/hosts
        line: "127.0.0.1  {{ item.url }}"
      with_items: "{{ sites }}"
    
    ######################
    ## ENABLE SITES AND RELOAD APACHE
    ######################

    - name: Check if recettes.wiki is enabled
      stat:
        path: /etc/apache2/sites-enabled/recettes-wiki.conf
      register: enabled_recettes_wiki

    - name: Check if politique.wiki is enabled
      stat:
        path: /etc/apache2/sites-enabled/politique-wiki.conf
      register: enabled_politique_wiki

    - name: Enable recettes.wiki
      command: a2ensite recettes-wiki
      when: not enabled_recettes_wiki.stat.exists
    
    - name: Enable politique.wiki
      command: a2ensite politique-wiki
      when: not enabled_politique_wiki.stat.exists
    
    - name: Reload apache
      command: systemctl reload apache2
      when: not enabled_recettes_wiki.stat.exists or not enabled_politique_wiki.stat.exists
