---
## Play
- hosts: app_hosting

  tasks:
    - name: Install apache2
      apt:
        name:
          - apache2
          - php7.3
    
    ######################
    ## DOWNLOAD DOKUWIKI
    ######################

    - name: Check if dokuwiki is already installed
      stat:
        path: /usr/src/dokuwiki
      register: dokuwiki_directory

    - name: Delete dokuwiki file if is not directory
      file:
        path: /usr/src/dokuwiki
        state: absent
      when: dokuwiki_directory.stat.exists and not dokuwiki_directory.stat.isdir

    - name: Download dokuwiki
      get_url:
        url: https://download.dokuwiki.org/src/dokuwiki/dokuwiki-stable.tgz
        dest: /usr/src
      when: not dokuwiki_directory.stat.exists or not dokuwiki_directory.stat.isdir

    - name: Unzip dokuwiki
      unarchive:
        remote_src: yes # The archive is already on the remote machine, not on the control machine
        src: /usr/src/dokuwiki-stable.tgz
        dest: /usr/src
      when: not dokuwiki_directory.stat.exists or not dokuwiki_directory.stat.isdir

    - name: Rename dokuwiki directory
      command: mv /usr/src/dokuwiki-2020-07-29 /usr/src/dokuwiki # TODO USE VARIABLE
      when: not dokuwiki_directory.stat.exists or not dokuwiki_directory.stat.isdir

    - name: Delete downloaded archive
      file:
        path: /usr/src/dokuwiki-stable.tgz
        state: absent
      when: not dokuwiki_directory.stat.exists or not dokuwiki_directory.stat.isdir
    
    ######################
    ## VIRTUALHOST
    ######################

    - name: Check if recettes.wiki virtualhost exists
      stat:
        path: /etc/apache2/sites-available/recettes-wiki.conf
      register: recettes_wiki_vhost

    - name: Check if politique.wiki virtualhost exists
      stat:
        path: /etc/apache2/sites-available/politique-wiki.conf
      register: politique_wiki_vhost

    - name: Copy recettes.wiki virtualhost
      copy:
        src: files/recettes-wiki.conf
        dest: /etc/apache2/sites-available/recettes-wiki.conf
      when: not recettes_wiki_vhost.stat.exists

    - name: Copy politique.wiki virtualhost
      copy:
        src: files/politique-wiki.conf
        dest: /etc/apache2/sites-available/politique-wiki.conf
      when: not politique_wiki_vhost.stat.exists
    
    ######################
    ## WWW DIRECTORIES
    ######################

    - name: Check if recettes_wiki directory exists
      stat:
        path: /var/www/recettes_wiki
      register: recettes_wiki_directory

    - name: Check if politique_wiki directory exists
      stat:
        path: /var/www/politique_wiki
      register: politique_wiki_directory

    - name: Copy dokuwiki to /var/www/recettes_wiki
      command: cp -r /usr/src/dokuwiki /var/www/recettes_wiki
      when: not recettes_wiki_directory.stat.exists

    - name: Copy dokuwiki to /var/www/politique_wiki
      command: cp -r /usr/src/dokuwiki /var/www/politique_wiki
      when: not politique_wiki_directory.stat.exists
    
    - name: Change permissions of /var/www/recettes_wiki
      file:
        path: /var/www/recettes_wiki
        state: directory
        recurse: yes
        owner: www-data
        group: www-data
      when: not recettes_wiki_directory.stat.exists
    
    - name: Change permissions of /var/www/politique_wiki
      file:
        path: /var/www/politique_wiki
        state: directory
        recurse: yes
        owner: www-data
        group: www-data
      when: not politique_wiki_directory.stat.exists

    - name: Enable recettes.wiki
      command: a2ensite recettes_wiki
    
    - name: Enable politique.wiki
      command: a2ensite politique_wiki
    
    - name: Reload apache
      command: systelctl apache2 reload
